asgiref==3.7.2
black==24.1.1
certifi==2023.11.17
charset-normalizer==3.3.2
Django==4.2.1
django-compat==1.0.15
django-cors-headers==4.3.1
django4-background-tasks==1.2.9
djangorestframework==3.14.0
idna==3.6
mysqlclient==2.2.1
pytz==2023.4
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
supervisor==4.2.5
urllib3==2.2.0
